.shadow-dropdown {
    box-shadow: 0 0 5px #888888;
}

.ul-dropdown {
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-height: 21em;
    overflow: auto;
}

.ul-dropdown > li {
    font-family: "DejaVu Sans";
    color: #000000;
    padding: 10px;
    border-bottom: 1px solid #e8e2e2;
    background-color: #ffffff;
}

.ul-dropdown > li:hover {
    background-color: #CBCAD1;
}

.wrapper {
    font-family: "DejaVu Sans";
    color: #0ac767;
    padding: 5px;
    width: 100%;
    min-height: 2em;
    max-height: 4em;
    background-color: #0b914f;
}

.section {
    margin: 5px 0;
}

.section-search {
    border: none;
    border-bottom: 1px solid #0ac767;
    background-color: #0b914f;
    width: 4em;
}

.section-search:focus {
    outline: none;
}

.icon-wrapper {
    width: 2em;
    height: 2em;
    display: inline-block;
    background-color: #0ACF6A;
    float: left;
}

.icon-wrapper i,
.close-wrapper i{
    color: #ffffff;
    margin: 0.5em;
}

.input-wrapper {
    margin: 0 2em;
    height: 2em;
}

.close-wrapper {
    float: right;
    width: 2em;
    height: 2em;
}

.full-search {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 4px;
    height: 100%;
    width: 100%;
    border: none;
}

.full-search:focus {
    outline: none;
}

.hide {
    display: none;
}

.bg-input {
    background-color: #05803D;
}

.bg-active {
    background-color: #0AC967;
}

.input-font {
    font-family: "DejaVu Sans";
    color: #ffffff;
}